{% extends 'profile_site/navi.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'tournaments/register_tournament.css' %}">
{% endblock %}

{% block content %}
    <form method="post" action="{% url 'register-a-tournament' slug %}">
        {% csrf_token %}
        {% if already_registered %}
            <h1>Already registered</h1>
        {% else %}
            {{ form }}
            <button type="submit"> Submit</button>
        {% endif %}

    </form>
{% endblock %}