{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&amp;display=swap">
    <link rel="stylesheet" href="{% static 'profile_site/nav.css' %}">
    {% block css %}
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid"><a class="navbar-brand" href="{% url 'Go-to-home' %}">Game<strong>Tournaments</strong></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'Go-to-home' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link active" href="{% url 'my-account' %}">My Account</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'all_tournaments' %}">Games</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% block content %}


    {% endblock %}
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>


</body>

</html>