{% extends 'profile_site/navi.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'profile_site/profile.css' %}">
{% endblock %}
{% block content %}
    <div id="profile-container">
        <div id="div-1">


            <div id="image-name">
                <img src="{{ user.user_image.url }}" id="user-image">
                <h5 id="user-name">Welcome&nbsp;<br>{{ user.your_name.split.pop }}</h5>

            </div>
            <h5 id="user-email">PUBG id:{{ user.pubgID }}</h5>
            <h5 id="user-email">Call of duty id:{{ user.Call_of_duty_id }}</h5>
            <h5 id="user-email">Sea of theves id:{{ user.Sea_of_theves_id}}</h5>
            <h5 id="user-email">Phone:{{ user.phone }}</h5>
            <h5 id="user-email">Email:&nbsp;{{ user.email }}</h5>


        </div>
        <div id="new-tournaments">
            <h1>My Tournaments</h1>
            <form method="get" action="{% url 'new_tournaments' %}">
                <button>Create</button>
            </form>
            <div id="my_tournaments">
                {% for tournament in all_tournaments %}
                    <div id="one-tournament">
                        <h3>{{ tournament.game_type }}</h3>
                        <h4>Name: {{ tournament.tournament_name }}</h4>
                        <a id="yo" href="{% url 'a-tournament' tournament.slug %}">
                            <button>Details</button>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div id="catagories">

            <div id="registered">
                <button>Registered</button>
                {% for registered in all_registered %}
                    <h1><a href="{% url 'a-tournament' registered.tournament.slug %}">{{ registered.tournament.tournament_name }}</a></h1>
                {% endfor %}
            </div>

            <div id="played">
                <button>Played</button>

            </div>
        </div>
    </div>
{% endblock %}



