body{
    background-color: gray;
}

#profile-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;



}



#div-1 {

    display: flex;
    flex-direction: column;
    background-color: #cccccc;
    width: 25%;
    height: 400px;
    margin-top: 2%;

    overflow: fragments;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    padding: .5rem;
    border-radius: 25px;
}

#user-name{
    padding: 1rem 1rem 1rem 1rem;
    text-align: center;
    background-color: #d1e7ff;
    width: 57%;

    margin-left: .3rem;
    margin-top: .5rem;
    margin-right: .2rem;

    font-size: 2vw;

    font-weight: bold;
    color: black;

    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 25px;

}



#user-email{

    color: black;
    font-size: 1.3vw;
    margin-top: 1rem;
    height: 3%;


    text-align: center;
    border-radius: 5px;

}
#user-image{


    border-radius: 50%;
    width: 100px;
    height: 100px;



}
#new-tournaments{

    background-color: #53575a;
    color: black;
    width: 55%;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 25px;

}
#new-tournaments h1{
    font-size: 3vw;

    text-align: center;
    display: block;
    margin-top: 2rem;

    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin-right: 27%;
    margin-left: 27%;
    border-radius: 10px;
    background-color: #9badbf;
    animation-name: name-ani;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes name-ani {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}
#new-tournaments button{
    font-size: 1.5vw;

    border-radius: 10px;

    margin-right: 2%;
    margin-left: 70%;
    background-color: #94aba1;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}
#new-tournaments button:hover {background-color: #3e8e41}

#new-tournaments button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#catagories{
    background-color: #8395a7;
    width: 20%;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 25px;
    margin-top: 2%;
    padding: .3rem;

}

#catagories h1{
    font-size: 1.5vw;
    padding: 1rem;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 25px;
    margin: 1rem;
}
#all_catagories{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    flex-wrap: wrap;
    font-size: 1vw;
    border-radius: 25px;
    margin: .5rem;
    justify-content: space-between;
}

#my_tournaments{
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    background-color: #4d4d4d;
    padding: .5rem;
    justify-content: space-evenly;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    flex-wrap: wrap;
    height: 120vh;
    border-radius: 25px;
    margin-left: 2%;
    margin-right: 2%;
}
#one-tournament{
    background-color: #a29bfe;

    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    width: 30.333333333%;
    height: 200px;
    border-radius: 25px;
    padding-bottom: .5rem;
}

#registered{
    background-color: #94aba1;
    height: 30%;
    border-radius: 10%;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
#registered h1{
    background-color: #94aba1;
    border-radius: 10px;
    box-shadow: 0 0 0 0;

}
#registered button{
    font-size: 1.5vw;

    border-radius: 10px;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

    margin-left: 30%;
    margin-right: 30%;
    background-color: #94aba1;
    margin-top: 5%;
    padding: .5rem;
}
#registered button:hover {background-color: #3e8e41}

#registered button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#image-name{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10%;


}
#played{
    background-color: #94aba1;
    height: 30%;
    border-radius: 10%;
    margin-top: 20%;
}
#played button{
    font-size: 1.5vw;

    border-radius: 10px;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

    margin-left: 10%;
    background-color: #94aba1;
    margin-top: 5%;
    padding: .5rem;
}
#played button:hover {background-color: #3e8e41}

#played button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}